

body,html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
    
}

.top-panel {
    background-color:	#051317;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin:auto;
}

nav a {
    color:	rgb(161, 165, 175);
    text-decoration: none;
    font-weight:lighter;
    font-size: 26px;
    padding: 20px;
   
}
nav a:hover{
  background-color:rgb(33, 85, 87);
  border-radius: 25px;
  transition: 1s ease;
  
}

.background-image{
 
  margin: 0;
  padding: 0;
  background-image: url('img/pozadina.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  }


.background-image .text h2{
  position: absolute;
  top: 17%;
  left: 3%; 
  color:rgb(249, 249, 249,0.6); 
  font-size: 60px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 350;
  text-decoration:underline;
}


.background-image .text h3{
  position: absolute;
  top: 27%;
  left: 7%; 
  color: rgb(249, 249, 249,0.6); 
  font-size: 60px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 350;
  text-decoration:underline;
}

.background-image .content-for-home p{
  position: absolute;
  top: 70%;
  right: 70%;
  left: 20px;
  color: rgb(249, 249, 249,0.6);
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.box {
  position: absolute;
  width: 25%;
  top: 180px; 
  right: 70px; 
  padding: 15px;
  text-align: center;
  background-color: rgb(33, 85, 87,0.3); 
  color: white; 
  font-size: 20px;
  border: 2px solid rgb(33, 85, 87,0.3) ; 
  border-radius: 10px; 
}

footer{
  background-color: #051317;
  margin-top: 700px;
  width: 100%;
  height: 350px;
}


iframe{
  width: 100%;
  
  padding-top: 80px;
  height: 300px;
}

.content {
  text-align:center;
  margin-bottom: 70px;
  margin-left: 130px;
  
}

.content h2 {
  font-size: 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px 		rgb(161, 165, 175);
}

.content h2:nth-child(2) {
  color:	rgb(161, 165, 175);
  animation: animate 8s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.header-image {
  position: relative;
}

.header-image img {
  width: 100%;
  height:850px;
  display:block
}


.header-image h2 {
  position: absolute;
  top: 3px;
  left: 35%; 
  color: rgb(249, 249, 249,0.6); 
  font-size: 80px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 350;
  text-decoration:underline;
}

.header-image h3 {
  position: absolute;
  top: 80px;
  left: 40%; 
  color:rgb(249, 249, 249,0.6); 
  font-size: 80px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 350;
  text-decoration:underline;
}



.card-holder {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  padding: 10px;
  background-color:	#051317;
}

.card {
  padding: 0px;
  width: 22%;
  margin: 50px;
  border: 1px solid 	#051317;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: 	#2e4153;
  
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 280px;
  display: block;
 
}

.card h3, .card p {
  padding: 10px;
  margin: 0;
  text-align: center;
  color: #babdbf;
}



.contact-form {
  margin:auto;
  margin-top: 80px;
  margin-left: 530px;
  border: 1px solid	#051317;
  background-color: rgb(33, 85, 87,0.6);	
  opacity: 1.5;
  padding: 30px;
  border-radius: 8px;
  width: 500px;
  position: absolute;
}


.contact-icons {
  margin-top: 10px; 
  margin-left: 200px;
  padding-bottom: 20px;
}


.contact-icons i {
  
  font-size: 25px;
  color:#ffffff; 
  margin: 0px 10px; 
}


.contact-form h2 {
 margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-group textarea {
  resize: vertical;
}

.form-group button {
  background-color:rgb(92, 131, 132);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

}

.form-group button:hover {
  background-color: #303335;
  
}


@media screen and (min-width:320px) and (max-width:425px)
{
  .top-panel {
    display: block;
  }

  .content{
    margin-left: 50%;
    font-size: 15px;
  }

  
  nav ul {
    padding: 0px;
  }
  
  ul li a {
  padding:  0px;
  font-size: 20px;
  
 }



 .background-image .text h2 {
  font-size:  30px;
  top: 30%;
  left: 5%;
 }

 .background-image .text h3 {
  font-size: 30px;
  top: 37%;
  left: 10%;
}
.background-image .content-for-home p {
 right:0%;
 top:100%;
 font-size: 13px;
}

.box {
  width: 60%;
  top: 250px;
  right: 50px;
}

footer {
  margin-top: 420px;
}

.header-image img {
  height: 260px;
}

.header-image h2 {
  font-size: 50px;
 left: 9%;
 top: 20px;
}

.header-image h3 {
  font-size: 50px;
  left: 18%;
 
}
.card-holder {
  padding: 0px;
}
.card{
  width: 100%;
  margin: 30px;
}
.background-image{
  height: 130vh;
}
.contact-form {
  margin-top: 30px;
  margin-left: 20px;
  width: 220px;
  }

 .contact-icons {
    margin:auto 60px;
   padding-bottom:10px ;
  }

   .form-group {
    margin-bottom: 10px;
  }

   .form-group input{
    padding: 5px;
    margin-bottom: 5px;
  }

   .form-group textarea{
    padding: 2px;
  }

  .form-group button{
    font-size: 12px;
  }
}

@media screen and (min-width:768px) and (max-width:1024px)

{

  .background-image .text h2 {
    top: 10%;
  }

  .background-image .text h3 {
    top: 20%;
  }
  .background-image .content-for-home p{
    top: 80%;
    right: 0%;

}
  .box {
    top: 140px;
  }

  .header-image img{
    height: 65vh;
  }

  .header-image h2 {
    left: 20%;
}

  .header-image h3 {
    left: 30%;
}

  .card-holder {
    padding: 0px;
}

  .card {
    width: 35%;  
}

  .contact-form{
   margin-left: 100px;
    margin-top: 100px;
}

}
  

  

  
